.data {
  padding: 2rem 2rem 0;
  @include contain();

  &__filters {
    @media (min-width: $medium) {
      @include flexCenter();
    }
    input {
      display: none;
    }
    label {
      cursor: pointer;
    }
    .btn--filter {
      margin-bottom: 0.5rem;
    }
    li {
      padding-right: 0.75rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__place {
    @include flexCenter();
    flex-wrap: wrap;
    @media (max-width: $medium) {
      padding-bottom: 1rem;
    }
    @media (min-width: $medium) {
      flex-basis: 30%;
    }
    @media (min-width: $large) {
      flex-basis: 25%;
    }
  }

  &__business {
    @include flexCenter();
    flex-wrap: wrap;
  }

  &__table-wrapper {
    padding-top: 3.75rem;
  }
}

.data__table {
  font-size: 0.875rem;
  width: 100%;
  white-space: nowrap;
  @media (max-width: 600px) {
    display: block;
    overflow-x: auto;
  }

  thead {
    tr {
      border-bottom: 1px solid $c-iconBg;
    }
  }
  th {
    font-weight: bold;
    text-align: left;
    padding-bottom: 0.75rem;
    &:nth-child(4) {
      text-align: right;
    }
  }

  tr {
    border-bottom: 1px solid $c-lightBg;
  }

  td {
    padding: 0.75rem 0.75rem 0.75rem 0;
    width: 25%;
    &:nth-child(4) {
      text-align: right;
      padding-right: 0;
    }
  }
}
.data__content {
  tr {
    &:hover {
      background-color: $c-lightBg;
    }
  }
}
.map-title {
  position: relative;
  margin-top: 4.75rem;

  @media (min-width: $large) {
    margin-top: 6.25rem;
  }
}
.map__wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  flex: 1 0 auto;
}
#map {
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 280px;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 80%
    );
    // pointer-events: none;
    z-index: 9990;
  }
}
.marker-fransiza {
  &:after {
    content: "";
    display: inline-block;
    width: 120px;
    height: 125px;
    background: url(../asset/img/sprite.png) no-repeat -190px -190px;
  }
}
.marker-veleprodaja {
  &:after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../asset/img/sprite.png) no-repeat -190px -390px;
  }
}
.marker-maloprodaja {
  &:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../asset/img/sprite.png) no-repeat -195px -495px;
  }
}

.title__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
}
.title__box {
  padding: 0.25rem 2rem 0;
  @include contain();
}

#no-filters {
  text-align: center;
  font-size: 1.875rem;
  font-family: "Titillium-Bold", Arial, sans-serif;
  font-weight: 600;
  @media (min-width: $large) {
    font-size: 2.5rem;
  }
}
