.description {
  margin-top: 4.75rem;

  @media (min-width: $large) {
    margin-top: 6.25rem;
  }

  &__wrapper {
    @include contain();
    padding: 0.5rem 2rem 0;
  }

  &__title {
    font-size: 3rem;
  }
  &__text {
    padding-top: 1.5rem;
    @media (min-width: $medium) {
      padding-left: 4rem;
    }
    @media (min-width: $large) {
      padding-left: 7rem;
    }
  }

  &__bg {
    flex: 1 0 auto;
    height: 200px;
    background: url("../asset/img/image-bg-mobile.jpg") no-repeat center / cover;
    @media (min-width: $medium) {
      height: 250px;
    }
    @media (min-width: $large) {
      height: 300px;
      background-image: url("../asset/img/image-bg.jpg");
    }
  }
}
