.hero {
  margin-top: 4.2rem;
  padding: 3rem 2rem;
  border-bottom: 1px solid $c-main;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.6) 60%
    ),
    url("../asset/img/hero-mobile.jpg") no-repeat right center / cover;
  @media (min-width: $large) and (min-height: 769px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @media (min-width: $large) {
    margin-top: 6.25rem;
  }
  @media (min-width: $x-large) {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.9) 60%,
        rgba(255, 255, 255, 0.8) 75%,
        rgba(255, 255, 255, 0) 85%
      ),
      url("../asset/img/hero.jpg") no-repeat right center / cover;
  }
  &__wrapper {
    @media (min-width: $medium) {
      width: 80%;
      margin: 0 auto;
    }
    @media (min-width: $x-large) {
      margin: 0;
      padding-left: 5rem;
      max-width: 35rem;
      position: relative;
      left: 50%;
    }
    @media (min-width: 1600px) {
      max-width: 40rem;
    }
  }
  &__text {
    padding: 2.25rem 0;
    @media (min-width: $x-large) {
      max-width: 360px;
    }
  }
}
