.where {
  background: url("../asset/img/locations.jpg") no-repeat center / cover;
  border-top: 1px solid $c-main;
  border-bottom: 1px solid $c-main;
  color: #fff;
  text-align: center;
  padding: 1.375rem 2rem 5rem;
  &__img {
    display: inline-block;
    width: 100px;
    height: 115px;
    margin: 0 auto;
    background: url("../asset/img/sprite.png") no-repeat -200px -200px;
  }
  &__subtitle {
    padding: 3.125rem 0 1rem;
    font-size: 2rem;
    text-transform: initial;
    @media (max-width: $small) {
      font-size: 1.5rem;
    }
  }
  &__title {
    font-size: 4rem;
    text-transform: uppercase;
    @media (max-width: $small) {
      font-size: 2rem;
    }
  }
  &__text {
    padding: 2rem 0;
    max-width: 35.25rem;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
  }
}
