.breadcrumb {
  overflow: hidden;

  &__item {
    display: inline;
    & + &:before {
      color: $c-links;
      content: "/";
    }
  }

  &__link {
    display: inline-block;
    padding: 1rem 0;
    color: $c-links;
    font-size: 0.75rem;
    &:hover {
      color: #000;
    }
  }
}
