.btn {
  display: inline-block;
  padding: 0.6rem 4.75rem;
  font-family: "Titillium-Regular", Arial, sans-serif;
  font-size: 0.75rem;
  border: none;
  transition: all 0.3s;
  @media (max-width: $small) {
    padding: 0.875rem 3rem;
  }
  &--primary {
    background-color: $c-main;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid $c-main;
    &:hover {
      background-color: transparent;
      color: $c-main;
    }
  }
  &--secondary {
    color: $c-text;
    background-color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  &--filter {
    background-color: $c-border;
    color: #fff;
    padding: 0.5rem 1.325rem;
  }
}
.active {
  background-color: $c-main;
}
