@font-face {
  font-family: "Titillium-Light";
  src: url("../asset/font/Titillium-Light.otf") format("opentype");
  src: url("../asset/font/Titillium-Light.woff") format("woff"); /* IE 9-11 & All Modern Browsers */
}
@font-face {
  font-family: "Titillium-Regular";
  src: url("../asset/font/Titillium-Regular.otf") format("opentype");
  src: url("../asset/font/Titillium-Regular.woff") format("woff"); /* IE 9-11 & All Modern Browsers */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium-Bold";
  src: url("../asset/font/Titillium-Bold.otf") format("opentype");
  src: url("../asset/font/Titillium-Bold.woff") format("woff"); /* IE 9-11 & All Modern Browsers */
}
body {
  font-family: Arial, "Titillium-Regular", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Titillium-Bold", Arial, sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 3.5rem;
  @media (max-width: $small) {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2rem;
  @media (max-width: $small) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0 1.75rem 0;
}
h4 {
  font-size: 0.875rem;
}
